<br>
<div class="center-align">
    <a class="waves-effect waves-light btn" href="#create-fleets-modal">Crear Flotas</a>
    <a class="waves-effect waves-light btn" href="#create-bus-modal">Crear Buses</a>
</div>


<%= render 'admin/tabs'%>

<%= render 'admin/fleets' %>
<%= render 'admin/bus' %>